body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

:root {
  --header-text-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --fourt-text-color: #ffffff;
  --title-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.list {
  text-decoration: none;
}

.container {
  width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.main-section {
  background-color: #2f303a;
}
.footer-list {
  background-color: #2f303a;
}
.title-btn {
  background-color: #2196f3;
}

.header-container {
  display: flex;
  align-items: center;
  margin: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}

.header-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19x;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 215px;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-logo span {
  color: black;
}
span {
  color: #ffffff;
}
.header-connect {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-infoto {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-infoto:hover,
.header-infoto:focus {
  color: var(--accent-text-color);
}
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: 50px;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--main-text-color);
}
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fourt-text-color);
}
.main-title {
  padding-top: 200px;
  padding-bottom: 280px;
}
.title-btn {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--fourt-text-color);
}

.title-btn:hover,
.title-btn:focus {
  color: var(--header-text-color);
}
.title-btn {
  padding-top: 40px;
  padding-bottom: 210px;
}

.main-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  display: flex;
}
.main-btn-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-btn + .main-btn {
  margin-left: 8px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--accent-text-color);
}
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-list {
  display: flex;
}
.about-pre-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  text-align: center;
}
.about-pre-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.about-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.masters-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.masters {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.masters {
  padding-top: 94px;
  padding-bottom: 94px;
}
.masters {
  display: flex;
  padding-top: 10px;
  text-align: center;
}
.master-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  padding-top: 30px;
  text-align: center;
}

.en {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}
.gallery-item + .gallery-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.hero-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--header-text-color);
}

.hero-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.list-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: 215px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--fourt-text-color);
  padding-top: 20px;
}

.button {
  color: var(--header-text-color);
  cursor: pointer;
}
.footer-infoto {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  padding-top: 9px;
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text-color);
}
